@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');

body{
  font-family: "roboto";
  color: #1e3245;
  background-color: rgb(252, 252, 255) 
}

h1 {
  font-family: 'poppins';
  color: #30475e;
}

.btn-white{
  color: #30475e;
  background-color: white;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4px;
  font-family: "poppins";
  cursor: pointer;
  font-weight: 900;
}

.container{
    padding: 5% 10%;
}

.card { 
  color: white;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: all 0.2s;
  margin: 16px 0px;
}

.card .content{
  padding: 30px;
  padding-top: 12px;
  position: relative;
}

.card.green{
  background-color: #0e918c
}

.card.green .btn-white, .card.green .more a{
  color: #0e918c
}

.card.red{
    background-color: #f05454;
}

.card.red .btn-white, .card.red .more a{
  color: #f05454
}

.card.blue{
    background-color: #2d6187    
}

.card.blue .btn-white, .card.blue .more a{
  color: #2d6187;

}

.card.yellow {
  background-color: #ffa62b
}

.card.yellow .btn-white, .card.yellow .more a{
  color: #ffa62b
}

.more{
  display: flex;
  min-height: 30px;
  max-height: 200px;
  width: 100%;
  background-color: white;
  color: #f05454;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s;
}

.more-btn{
  position: absolute;
  right: 30px;
  bottom: 25px;
  cursor: pointer;
}

.hidden{
  height: 0px;
  overflow: hidden;
  min-height: 0px;
  max-height: 0px;
}
 
.more a {
  border: 1px solid #d8d8d8;
  padding: 6px 12px;
  margin: 6px;
  border-radius: 6px;
  display: block;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
}

#note{
  color: white;
  background-color: #0e918c;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4px;
  font-family: "poppins";
  cursor: pointer;
  font-weight: 900;
  height: 24px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}